<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
	function deleteFavourite(jobID) {
		$.ajax({
			type: "POST",
			url: "http://localhost:8080/delete_favourite",
			data: JSON.stringify({
				jobID: jobID
			}),
			contentType: 'application/json',
			success: function( result ) {
				// alert('deleted '+jobID);
				alert(result.message);
				location.reload();
			}
		});
	}

	function addFavourite(jobID, jobName, projectID, projectName) {
		$.ajax({
			type: "POST",
			url: "http://localhost:8080/add_favourite",
			data: JSON.stringify({
				jobID: jobID,
				jobName: jobName,
				projectName: projectName,
				projectID: projectID
			}),
			contentType: 'application/json',
			success: function( result ) {
				// alert('deleted '+jobID);
				alert(result.message);
			}
		});
	}
</script>